<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite">
<h:head>
	<title>Lista de nomes</title>
</h:head>
<h:body>
	<h:form>
		<!-- binding entre compoentes se dá por propriedade binding -->
		Nome: <h:inputText value="#{nomesBean.nome}"
			binding="#{nomesBean.inputNome}" />
		<br />
		<h:commandButton value="Adicionar" action="#{nomesBean.adicionar}"
			binding="#{nomesBean.botaoAdicionar}" />
		<h:commandButton value="Adicionar" action="#{nomesBean.chameOla}" />
		<br />
		<ol>
			<ui:repeat var="nome" value="#{nomesBean.nomes}">
				<li>#{nome}</li>
			</ui:repeat>
		</ol>
	</h:form>
</h:body>
</html>